{% extends 'parent.html' %}
{% block content %}
<!-- Time Counter -->
	<div class="col-lg-12">
			<div class= "well timecounter"><h3 class="text-danger headingcounter">Time left :- <span id="timer"></span></h3>
						<script>
								document.getElementById('timer').innerHTML =
								  1 + ":" + 00;
								startTimer();

								function startTimer() {
								  var presentTime = document.getElementById('timer').innerHTML;
								  var timeArray = presentTime.split(/[:]+/);
								  var m = timeArray[0];
								  var s = checkSecond((timeArray[1] - 1));
								  if(s==59){m=m-1}
								  //if(m<0){alert('timer completed')}
								  
								  document.getElementById('timer').innerHTML =
								    m + ":" + s;
								  setTimeout(startTimer, 1000);
								}

								function checkSecond(sec) {
								  if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
								  if (sec < 0) {sec = "59"};
								  return sec;
								}
						</script>
			</div>
	</div>

<!-- To redirect to Another Url After Counter Time Is Over -->
 	<script type="text/JavaScript">
      	setTimeout("location.href = '{% url 'Computer_Science_Intermediate' %}';",58995);
 	</script>

 	 <script>
		history.pushState(null, null, document.title);
		window.addEventListener('popstate', function () {
		    history.pushState(null, null, document.title);
		});
 	</script>

	<div class="col-lg-10 col-lg-offset-1">
			{% for i in q %}
			{{forloop.counter}}
				<div class="well">
					<ol>
						<h4 class="text-danger">{{i.Question}}</h4>
						<form method="POST" action="{% url 'solutionCSI' %} " id="myform" name="myform">
							{% csrf_token %}
							<li>
								<input type="radio" name="an" id="choice1" value="{{i.choice1}}"/><label>{{i.choice1}}</label>
								<input type="hidden" name="{{i.id}}">
							</li>
							<li>
								<input type="radio" name="an" id="choice2" value="{{i.choice2}}"/><label>{{i.choice2}}</label>
								<input type="hidden" name="{{i.id}}">
							</li>
							<li>
								<input type="radio" name="an" id="choice3" value="{{i.choice3}}"/><label>{{i.choice3}}</label>
								<input type="hidden" name="{{i.id}}">
							</li>
							<li>
								<input type="radio" name="an" id="choice4" value="{{i.choice4}}"/><label>{{i.choice4}}</label>
							</li>
							<a href="{% url 'Computer_Science_Intermediate' %}"><button type="submit" class="btn btn-primary refresh" disable ="check" id="disableit" >Next</button> </a>
						</form>
						
						<span id="result"></span>
						
					</ol>
					</br>
			<script>
				  $('input').on('click', function(){
				  var valeur = 0;
				  $('input:checked').each(function(){
				       if ( $(this).attr('value') > valeur )
				       {
				           valeur =  $(this).attr('value');
				       }
				  });
				  $('.progress-bar').css('width', valeur+'%').attr('aria-valuenow', valeur);    
				});
		</script>
				</div>
				{% if forloop.counter > 5 %}
					{% url '/compare/' %}
				{% endif %}
		{% endfor %}


		{% endblock content %}

	</div>

  