<html><head>
 	<title>Quiz</title>

 	 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
 </head>
 <body>

 	<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    	<div class="navbar-header">
		      		<a class="navbar-brand" href="/index/">QUIZ Portal</a>
		    	</div>
		    	<ul class="nav navbar-nav">
		      		<li class="active"><a href="/CS">Computer Science</a></li>
		      		<li><a href="/NW/">Networking</a></li>
		      		<li><a href="/LX/">Linux</a></li>
		      		<li><a href="/EP/">Electronic Principal</a></li>
		    	</ul>
		  </div>
	</nav>
  	
 
 	

<div class="col-lg-10 col-lg-offset-1">
	
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">MGS-GTC-KPLMBG</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Mgs Eğitici bultak Kaplumbağa" type="radio"><label>Mgs Eğitici bultak Kaplumbağa</label></li>
					<li><input name="an" id="choice2" value="Mgs Eğitici bultak Kaplumbağa" type="radio"><label>Mgs Eğitici bultak Kaplumbağa</label></li>
					<li><input name="an" id="choice3" value="Mgs Eğitici bultak Kaplumbağa" type="radio"><label>Mgs Eğitici bultak Kaplumbağa</label></li>
					<li><input name="an" id="choice4" value="Mgs Eğitici bultak Kaplumbağa" type="radio"><label>Mgs Eğitici bultak Kaplumbağa</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">HP-PRDSK-400-MT</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="HP ProDesk 400 MT T4Q92ES i3 6100-4G-1TB-Dos" type="radio"><label>HP ProDesk 400 MT T4Q92ES i3 6100-4G-1TB-Dos</label></li>
					<li><input name="an" id="choice2" value="HP ProDesk 400 MT T4Q92ES i3 6100-4G-1TB-Dos" type="radio"><label>HP ProDesk 400 MT T4Q92ES i3 6100-4G-1TB-Dos</label></li>
					<li><input name="an" id="choice3" value="HP ProDesk 400 MT T4Q92ES i3 6100-4G-1TB-Dos" type="radio"><label>HP ProDesk 400 MT T4Q92ES i3 6100-4G-1TB-Dos</label></li>
					<li><input name="an" id="choice4" value="HP ProDesk 400 MT T4Q92ES i3 6100-4G-1TB-Dos" type="radio"><label>HP ProDesk 400 MT T4Q92ES i3 6100-4G-1TB-Dos</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">LGTCH-G103-GMNG</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Logitech G103 Gaming Kablolou Klavye 920-005205" type="radio"><label>Logitech G103 Gaming Kablolou Klavye 920-005205</label></li>
					<li><input name="an" id="choice2" value="Logitech G103 Gaming Kablolou Klavye 920-005205" type="radio"><label>Logitech G103 Gaming Kablolou Klavye 920-005205</label></li>
					<li><input name="an" id="choice3" value="Logitech G103 Gaming Kablolou Klavye 920-005205" type="radio"><label>Logitech G103 Gaming Kablolou Klavye 920-005205</label></li>
					<li><input name="an" id="choice4" value="Logitech G103 Gaming Kablolou Klavye 920-005205" type="radio"><label>Logitech G103 Gaming Kablolou Klavye 920-005205</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">LNV-560-20VS07R</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Lenovo E560 20EVS07R00 i7 6500-15.6-8G-1T-2G-W10P" type="radio"><label>Lenovo E560 20EVS07R00 i7 6500-15.6-8G-1T-2G-W10P</label></li>
					<li><input name="an" id="choice2" value="Lenovo E560 20EVS07R00 i7 6500-15.6-8G-1T-2G-W10P" type="radio"><label>Lenovo E560 20EVS07R00 i7 6500-15.6-8G-1T-2G-W10P</label></li>
					<li><input name="an" id="choice3" value="Lenovo E560 20EVS07R00 i7 6500-15.6-8G-1T-2G-W10P" type="radio"><label>Lenovo E560 20EVS07R00 i7 6500-15.6-8G-1T-2G-W10P</label></li>
					<li><input name="an" id="choice4" value="Lenovo E560 20EVS07R00 i7 6500-15.6-8G-1T-2G-W10P" type="radio"><label>Lenovo E560 20EVS07R00 i7 6500-15.6-8G-1T-2G-W10P</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">HP-250-G5-W4M87</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="HP 250 G5 W4M87ES i5 6200-15.6' '-8G-1TB-2GB-Dos" type="radio"><label>HP 250 G5 W4M87ES i5 6200-15.6' '-8G-1TB-2GB-Dos</label></li>
					<li><input name="an" id="choice2" value="HP 250 G5 W4M87ES i5 6200-15.6' '-8G-1TB-2GB-Dos" type="radio"><label>HP 250 G5 W4M87ES i5 6200-15.6' '-8G-1TB-2GB-Dos</label></li>
					<li><input name="an" id="choice3" value="HP 250 G5 W4M87ES i5 6200-15.6' '-8G-1TB-2GB-Dos" type="radio"><label>HP 250 G5 W4M87ES i5 6200-15.6' '-8G-1TB-2GB-Dos</label></li>
					<li><input name="an" id="choice4" value="HP 250 G5 W4M87ES i5 6200-15.6' '-8G-1TB-2GB-Dos" type="radio"><label>HP 250 G5 W4M87ES i5 6200-15.6' '-8G-1TB-2GB-Dos</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">DLL-PTPLX-5040M</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Dell OptiPlex 5040MT i5 6500-4GB-500GB-Dos" type="radio"><label>Dell OptiPlex 5040MT i5 6500-4GB-500GB-Dos</label></li>
					<li><input name="an" id="choice2" value="Dell OptiPlex 5040MT i5 6500-4GB-500GB-Dos" type="radio"><label>Dell OptiPlex 5040MT i5 6500-4GB-500GB-Dos</label></li>
					<li><input name="an" id="choice3" value="Dell OptiPlex 5040MT i5 6500-4GB-500GB-Dos" type="radio"><label>Dell OptiPlex 5040MT i5 6500-4GB-500GB-Dos</label></li>
					<li><input name="an" id="choice4" value="Dell OptiPlex 5040MT i5 6500-4GB-500GB-Dos" type="radio"><label>Dell OptiPlex 5040MT i5 6500-4GB-500GB-Dos</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">LNV-M700-THNKC</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Lenovo M700 ThinkC 10GRS00400 i7 6700-8G-1TB-Dos" type="radio"><label>Lenovo M700 ThinkC 10GRS00400 i7 6700-8G-1TB-Dos</label></li>
					<li><input name="an" id="choice2" value="Lenovo M700 ThinkC 10GRS00400 i7 6700-8G-1TB-Dos" type="radio"><label>Lenovo M700 ThinkC 10GRS00400 i7 6700-8G-1TB-Dos</label></li>
					<li><input name="an" id="choice3" value="Lenovo M700 ThinkC 10GRS00400 i7 6700-8G-1TB-Dos" type="radio"><label>Lenovo M700 ThinkC 10GRS00400 i7 6700-8G-1TB-Dos</label></li>
					<li><input name="an" id="choice4" value="Lenovo M700 ThinkC 10GRS00400 i7 6700-8G-1TB-Dos" type="radio"><label>Lenovo M700 ThinkC 10GRS00400 i7 6700-8G-1TB-Dos</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">DLL-LTTD-5450-5</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Dell Latitude E5450 i5 5300-14' '-4G-500G-W7P" type="radio"><label>Dell Latitude E5450 i5 5300-14' '-4G-500G-W7P</label></li>
					<li><input name="an" id="choice2" value="Dell Latitude E5450 i5 5300-14' '-4G-500G-W7P" type="radio"><label>Dell Latitude E5450 i5 5300-14' '-4G-500G-W7P</label></li>
					<li><input name="an" id="choice3" value="Dell Latitude E5450 i5 5300-14' '-4G-500G-W7P" type="radio"><label>Dell Latitude E5450 i5 5300-14' '-4G-500G-W7P</label></li>
					<li><input name="an" id="choice4" value="Dell Latitude E5450 i5 5300-14' '-4G-500G-W7P" type="radio"><label>Dell Latitude E5450 i5 5300-14' '-4G-500G-W7P</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">HP-250-G5-X0N61</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="HP 250 G5 X0N61ES i3 5005-15.6' '-4G-500G-2GB-Dos" type="radio"><label>HP 250 G5 X0N61ES i3 5005-15.6' '-4G-500G-2GB-Dos</label></li>
					<li><input name="an" id="choice2" value="HP 250 G5 X0N61ES i3 5005-15.6' '-4G-500G-2GB-Dos" type="radio"><label>HP 250 G5 X0N61ES i3 5005-15.6' '-4G-500G-2GB-Dos</label></li>
					<li><input name="an" id="choice3" value="HP 250 G5 X0N61ES i3 5005-15.6' '-4G-500G-2GB-Dos" type="radio"><label>HP 250 G5 X0N61ES i3 5005-15.6' '-4G-500G-2GB-Dos</label></li>
					<li><input name="an" id="choice4" value="HP 250 G5 X0N61ES i3 5005-15.6' '-4G-500G-2GB-Dos" type="radio"><label>HP 250 G5 X0N61ES i3 5005-15.6' '-4G-500G-2GB-Dos</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">HP-Y049-15-Y024</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="HP Y0A49EA 15-ay024nt i5 6200-15.6-4G-256SD-2G-Dos" type="radio"><label>HP Y0A49EA 15-ay024nt i5 6200-15.6-4G-256SD-2G-Dos</label></li>
					<li><input name="an" id="choice2" value="HP Y0A49EA 15-ay024nt i5 6200-15.6-4G-256SD-2G-Dos" type="radio"><label>HP Y0A49EA 15-ay024nt i5 6200-15.6-4G-256SD-2G-Dos</label></li>
					<li><input name="an" id="choice3" value="HP Y0A49EA 15-ay024nt i5 6200-15.6-4G-256SD-2G-Dos" type="radio"><label>HP Y0A49EA 15-ay024nt i5 6200-15.6-4G-256SD-2G-Dos</label></li>
					<li><input name="an" id="choice4" value="HP Y0A49EA 15-ay024nt i5 6200-15.6-4G-256SD-2G-Dos" type="radio"><label>HP Y0A49EA 15-ay024nt i5 6200-15.6-4G-256SD-2G-Dos</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">LNV-M73-THNKC-1</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Lenovo M73 ThinkC 10B2S00Q00 i3 4170-4G-500G-Dos" type="radio"><label>Lenovo M73 ThinkC 10B2S00Q00 i3 4170-4G-500G-Dos</label></li>
					<li><input name="an" id="choice2" value="Lenovo M73 ThinkC 10B2S00Q00 i3 4170-4G-500G-Dos" type="radio"><label>Lenovo M73 ThinkC 10B2S00Q00 i3 4170-4G-500G-Dos</label></li>
					<li><input name="an" id="choice3" value="Lenovo M73 ThinkC 10B2S00Q00 i3 4170-4G-500G-Dos" type="radio"><label>Lenovo M73 ThinkC 10B2S00Q00 i3 4170-4G-500G-Dos</label></li>
					<li><input name="an" id="choice4" value="Lenovo M73 ThinkC 10B2S00Q00 i3 4170-4G-500G-Dos" type="radio"><label>Lenovo M73 ThinkC 10B2S00Q00 i3 4170-4G-500G-Dos</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">DLL-PTPLX-3020M</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Dell OptiPlex 3020MT i5 4590-4GB-500GB-W7/8Pro" type="radio"><label>Dell OptiPlex 3020MT i5 4590-4GB-500GB-W7/8Pro</label></li>
					<li><input name="an" id="choice2" value="Dell OptiPlex 3020MT i5 4590-4GB-500GB-W7/8Pro" type="radio"><label>Dell OptiPlex 3020MT i5 4590-4GB-500GB-W7/8Pro</label></li>
					<li><input name="an" id="choice3" value="Dell OptiPlex 3020MT i5 4590-4GB-500GB-W7/8Pro" type="radio"><label>Dell OptiPlex 3020MT i5 4590-4GB-500GB-W7/8Pro</label></li>
					<li><input name="an" id="choice4" value="Dell OptiPlex 3020MT i5 4590-4GB-500GB-W7/8Pro" type="radio"><label>Dell OptiPlex 3020MT i5 4590-4GB-500GB-W7/8Pro</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">LNV-73-THNKC-10</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Lenovo E73 ThinkC 10DS001BTX i3 4170-4G-500G-Dos" type="radio"><label>Lenovo E73 ThinkC 10DS001BTX i3 4170-4G-500G-Dos</label></li>
					<li><input name="an" id="choice2" value="Lenovo E73 ThinkC 10DS001BTX i3 4170-4G-500G-Dos" type="radio"><label>Lenovo E73 ThinkC 10DS001BTX i3 4170-4G-500G-Dos</label></li>
					<li><input name="an" id="choice3" value="Lenovo E73 ThinkC 10DS001BTX i3 4170-4G-500G-Dos" type="radio"><label>Lenovo E73 ThinkC 10DS001BTX i3 4170-4G-500G-Dos</label></li>
					<li><input name="an" id="choice4" value="Lenovo E73 ThinkC 10DS001BTX i3 4170-4G-500G-Dos" type="radio"><label>Lenovo E73 ThinkC 10DS001BTX i3 4170-4G-500G-Dos</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">LNV-460-20TS01B</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Lenovo E460 20ETS01B00 i5 6200-14' '-4G-500G-Win7" type="radio"><label>Lenovo E460 20ETS01B00 i5 6200-14' '-4G-500G-Win7</label></li>
					<li><input name="an" id="choice2" value="Lenovo E460 20ETS01B00 i5 6200-14' '-4G-500G-Win7" type="radio"><label>Lenovo E460 20ETS01B00 i5 6200-14' '-4G-500G-Win7</label></li>
					<li><input name="an" id="choice3" value="Lenovo E460 20ETS01B00 i5 6200-14' '-4G-500G-Win7" type="radio"><label>Lenovo E460 20ETS01B00 i5 6200-14' '-4G-500G-Win7</label></li>
					<li><input name="an" id="choice4" value="Lenovo E460 20ETS01B00 i5 6200-14' '-4G-500G-Win7" type="radio"><label>Lenovo E460 20ETS01B00 i5 6200-14' '-4G-500G-Win7</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">LGTCH-M170-KBLS</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Logitech M170 Kablosuz Mouse USB Siyah 910-004642" type="radio"><label>Logitech M170 Kablosuz Mouse USB Siyah 910-004642</label></li>
					<li><input name="an" id="choice2" value="Logitech M170 Kablosuz Mouse USB Siyah 910-004642" type="radio"><label>Logitech M170 Kablosuz Mouse USB Siyah 910-004642</label></li>
					<li><input name="an" id="choice3" value="Logitech M170 Kablosuz Mouse USB Siyah 910-004642" type="radio"><label>Logitech M170 Kablosuz Mouse USB Siyah 910-004642</label></li>
					<li><input name="an" id="choice4" value="Logitech M170 Kablosuz Mouse USB Siyah 910-004642" type="radio"><label>Logitech M170 Kablosuz Mouse USB Siyah 910-004642</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">A4-TCH-P-50D-PT</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="A4-Tech OP-50D Optical Siyah USB*" type="radio"><label>A4-Tech OP-50D Optical Siyah USB*</label></li>
					<li><input name="an" id="choice2" value="A4-Tech OP-50D Optical Siyah USB*" type="radio"><label>A4-Tech OP-50D Optical Siyah USB*</label></li>
					<li><input name="an" id="choice3" value="A4-Tech OP-50D Optical Siyah USB*" type="radio"><label>A4-Tech OP-50D Optical Siyah USB*</label></li>
					<li><input name="an" id="choice4" value="A4-Tech OP-50D Optical Siyah USB*" type="radio"><label>A4-Tech OP-50D Optical Siyah USB*</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">HUCUUCU</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="HUCUUCU" type="radio"><label>HUCUUCU</label></li>
					<li><input name="an" id="choice2" value="HUCUUCU" type="radio"><label>HUCUUCU</label></li>
					<li><input name="an" id="choice3" value="HUCUUCU" type="radio"><label>HUCUUCU</label></li>
					<li><input name="an" id="choice4" value="HUCUUCU" type="radio"><label>HUCUUCU</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">A4-TCH-KM-720-Q</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="A4-Tech KM-720 Q Klavye Siyah USB" type="radio"><label>A4-Tech KM-720 Q Klavye Siyah USB</label></li>
					<li><input name="an" id="choice2" value="A4-Tech KM-720 Q Klavye Siyah USB" type="radio"><label>A4-Tech KM-720 Q Klavye Siyah USB</label></li>
					<li><input name="an" id="choice3" value="A4-Tech KM-720 Q Klavye Siyah USB" type="radio"><label>A4-Tech KM-720 Q Klavye Siyah USB</label></li>
					<li><input name="an" id="choice4" value="A4-Tech KM-720 Q Klavye Siyah USB" type="radio"><label>A4-Tech KM-720 Q Klavye Siyah USB</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">LGTCH-M187-KBLS</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Logitech M187 Kablosuz Mouse Usb Siyah 910-002731" type="radio"><label>Logitech M187 Kablosuz Mouse Usb Siyah 910-002731</label></li>
					<li><input name="an" id="choice2" value="Logitech M187 Kablosuz Mouse Usb Siyah 910-002731" type="radio"><label>Logitech M187 Kablosuz Mouse Usb Siyah 910-002731</label></li>
					<li><input name="an" id="choice3" value="Logitech M187 Kablosuz Mouse Usb Siyah 910-002731" type="radio"><label>Logitech M187 Kablosuz Mouse Usb Siyah 910-002731</label></li>
					<li><input name="an" id="choice4" value="Logitech M187 Kablosuz Mouse Usb Siyah 910-002731" type="radio"><label>Logitech M187 Kablosuz Mouse Usb Siyah 910-002731</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">DENIZ-URUNU</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Deniz Ürünü" type="radio"><label>Deniz Ürünü</label></li>
					<li><input name="an" id="choice2" value="Deniz Ürünü" type="radio"><label>Deniz Ürünü</label></li>
					<li><input name="an" id="choice3" value="Deniz Ürünü" type="radio"><label>Deniz Ürünü</label></li>
					<li><input name="an" id="choice4" value="Deniz Ürünü" type="radio"><label>Deniz Ürünü</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">LGTCH-G403-PRDG</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Logitech G403 Prodigy Wired Gaming Mouse 910-00482" type="radio"><label>Logitech G403 Prodigy Wired Gaming Mouse 910-00482</label></li>
					<li><input name="an" id="choice2" value="Logitech G403 Prodigy Wired Gaming Mouse 910-00482" type="radio"><label>Logitech G403 Prodigy Wired Gaming Mouse 910-00482</label></li>
					<li><input name="an" id="choice3" value="Logitech G403 Prodigy Wired Gaming Mouse 910-00482" type="radio"><label>Logitech G403 Prodigy Wired Gaming Mouse 910-00482</label></li>
					<li><input name="an" id="choice4" value="Logitech G403 Prodigy Wired Gaming Mouse 910-00482" type="radio"><label>Logitech G403 Prodigy Wired Gaming Mouse 910-00482</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">MCRSFT-5MH-0001</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Microsoft 5MH-00019 Wired Desktop 400 USB TR Siyah" type="radio"><label>Microsoft 5MH-00019 Wired Desktop 400 USB TR Siyah</label></li>
					<li><input name="an" id="choice2" value="Microsoft 5MH-00019 Wired Desktop 400 USB TR Siyah" type="radio"><label>Microsoft 5MH-00019 Wired Desktop 400 USB TR Siyah</label></li>
					<li><input name="an" id="choice3" value="Microsoft 5MH-00019 Wired Desktop 400 USB TR Siyah" type="radio"><label>Microsoft 5MH-00019 Wired Desktop 400 USB TR Siyah</label></li>
					<li><input name="an" id="choice4" value="Microsoft 5MH-00019 Wired Desktop 400 USB TR Siyah" type="radio"><label>Microsoft 5MH-00019 Wired Desktop 400 USB TR Siyah</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">MCRSFT-PT3-0001</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Microsoft PT3-00016 Wireless Desktop 900 USB TR" type="radio"><label>Microsoft PT3-00016 Wireless Desktop 900 USB TR</label></li>
					<li><input name="an" id="choice2" value="Microsoft PT3-00016 Wireless Desktop 900 USB TR" type="radio"><label>Microsoft PT3-00016 Wireless Desktop 900 USB TR</label></li>
					<li><input name="an" id="choice3" value="Microsoft PT3-00016 Wireless Desktop 900 USB TR" type="radio"><label>Microsoft PT3-00016 Wireless Desktop 900 USB TR</label></li>
					<li><input name="an" id="choice4" value="Microsoft PT3-00016 Wireless Desktop 900 USB TR" type="radio"><label>Microsoft PT3-00016 Wireless Desktop 900 USB TR</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">AUTOLINK-URUNU</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Autolink ürünü" type="radio"><label>Autolink ürünü</label></li>
					<li><input name="an" id="choice2" value="Autolink ürünü" type="radio"><label>Autolink ürünü</label></li>
					<li><input name="an" id="choice3" value="Autolink ürünü" type="radio"><label>Autolink ürünü</label></li>
					<li><input name="an" id="choice4" value="Autolink ürünü" type="radio"><label>Autolink ürünü</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		
			<div class="well" style="margin-top: 50px;">
				<ol>
				<h4 class="text-danger">FOTOGRAF-TESTI</h4>
				<form method="get" action="/solution">
					<li><input name="an" id="choice1" value="Fotoğraf testi" type="radio"><label>Fotoğraf testi</label></li>
					<li><input name="an" id="choice2" value="Fotoğraf testi" type="radio"><label>Fotoğraf testi</label></li>
					<li><input name="an" id="choice3" value="Fotoğraf testi" type="radio"><label>Fotoğraf testi</label></li>
					<li><input name="an" id="choice4" value="Fotoğraf testi" type="radio"><label>Fotoğraf testi</label></li>
					<input class="btn-primary" value="Check" type="submit">
				</form>
				</ol>
				<br>
			</div>
		

	
</div>



 
 

</body></html>